input.input-date{

    background: transparent;
    color:#eee;
    width: 100%;
    border: none !important;
     
}

input.input-date {

outline: 0;
-webkit-box-shadow: none !important;
box-shadow: none !important;
}

input.input-date::placeholder {
    color: #eee;
}


.vdp-datepicker__clear-button{
    color: #eee;
    position: relative;
    top: -22px;
    right: -90px;
}

.display-time{
    background: rgba(0, 0,0, 0);
    color: #eee;
    padding: 0px;
   
  
    border:none !important;
   
    
    
   
  
}

.time-picker{
    border: none;
    padding: 0px;
    
}
