

.fundo{
    background: rgba(0, 0, 0, .6);
   
    width: 3000px;
    height: 100vh;
   

}

.async-overlay {
   
   
    top:0px;
    left:0px;
    position :fixed;
    display: none;
   
   
    z-index: 9999;
    .spinner {
        background: rgba(0, 0, 0, 0) url("../assets/images/loading/Loading1.gif") no-repeat scroll center center;
        height: 100vh;
        padding: 100px 20px 10px;
      position: fixed;
        text-align: center;
        left:50vw;
        top:50vh;
        transform: translate(-50%, -50%);
        width: 100vh;
        z-index: 99999;
    }
}

.opacity-loading {
    opacity: 0.8 !important;
}